.container {
	width: 100%;
	height: 100%;

	.selected {
		background-color: #11111122;
		transition: background 100ms linear;
	}

	.expander {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px;
		cursor: pointer;

		&:hover {
			background-color: #11111122;
			transition: background 100ms linear;
		}

		.avatar {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 20px;
			height: 20px;
			background-color: #11111155;
			border-radius: 50%;
			cursor: pointer;

			img {
				width: 100%;
				height: 100%;
				padding: 6px;
				transition: transform 300ms linear;
			}
		}
		.rotate {
			img {
				transform: rotate(180deg);
				transition: transform 300ms linear;
			}
		}

		.dropDownTitle {
			user-select: none;
		}
	}

	.content {
		width: 100%;
		height: 200px;
		background-color: transparent;
		transition: height 300ms linear;
	}

	.collapse {
		height: 0;
		transition: height 300ms linear;
	}
}
